:root {
  --white: #fff;
  --opacity-white: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --opacity-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --dark-orange: #ea7600;
  --gray: #757575;
}

@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url("../fonts/Neucha-Regular.ttf");
}

@font-face {
  font-weight: 400;
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Bold.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  color: var(--dark);
  font-size: 16px;
  font-family: OpenSans, Arial, sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;

  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.link {
  text-decoration: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 148px;
  height: 49px;

  color: var(--white);
  font-weight: 700;

  text-transform: uppercase;

  background-color: var(--primary);
  border: none;
  outline: none;
}

.btn:hover {
  background-color: var(--dark-orange);
}

.title {
  margin-bottom: 30px;

  font-weight: 400;
  font-family: Neucha, Arial, sans-serif;
}

/* Header */
.header {
  position: relative;

  overflow: hidden;

  background-color: var(--light);
}

.bg::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.header-title {
  position: relative;
  z-index: 10;

  margin-bottom: 185px;
}

.text-orange {
  color: var(--primary);
}

.header-img {
  position: absolute;
  top: 55px;
  right: -103px;

  height: 525px;
}

.text-wrapper {
  position: relative;
  z-index: 10;

  display: flex;

  column-gap: 30px;
}

.header-column {
  max-width: 540px;
}

.header-text:last-of-type {
  margin-bottom: 40px;
}

/* Video section */
.video {
  margin-bottom: -100px;
}

.video-wrapper {
  text-align: center;
}

.video-text {
  margin-bottom: 30px;
}

.video-player {
  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

/* Navigation */
.navigation {
  background-color: var(--primary-dark);
}

.navigation-container {
  margin-top: -200px;
  padding-top: 200px;
}

.navigation-title {
  color: var(--white);
  font-size: 52px;
}

.item-title {
  margin-bottom: 16px;
}

.item-text {
  color: var(--dark);
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  row-gap: 20px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.navigation-item {
  max-width: 350px;
  max-height: 323px;
  padding: 24px;

  background-color: var(--light);
}

.navigation-item:nth-last-child(-n+3) {
  max-height: 348px;
}

.navigation-item:first-child {
  padding: 0;

  background-color: var(--primary-dark);
}

.item-num {
  display: block;
  margin-bottom: 40px;

  color: var(--primary-dark);
  font-size: 64px;
  font-family: Neucha, Arial, sans-serif;
  line-height: 1;
}

.navigation-item:hover:not(:first-child) {
  background-color: var(--primary);
}

.navigation-item:hover .item-num,
.navigation-item:hover .item-title,
.navigation-item:hover .item-text {
  color: var(--white);
}

/* Section */
.section {
  position: relative;

  background-color: var(--light);
}

.section-img {
  width: 578px;
  height: 434px;

  vertical-align: middle;

  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

.section-text-top {
  color: var(--opacity-dark);
  font-size: 24px;
  font-family: Neucha, Arial, sans-serif;
  line-height: 29px;
}

.section-desc {
  font-size: 34px;
  font-family: Neucha, Arial, sans-serif;
  line-height: 41px;
}

.section-subtitle {
  position: relative;

  z-index: 10;

  margin-bottom: 20px;
  padding: 5px 10px;

  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 17px;

  text-transform: uppercase;

  background-color: var(--brown);
}

.section-content-wrapper {
  position: relative;

  z-index: 10;

  display: flex;

  column-gap: 30px;
}

.section-content-wrapper:first-child {
  margin-bottom: 100px;
}

.section-text {
  width: 50%;
  margin-top: 0;
}

/* Section-dark */
.section-dark {
  background-color: var(--brown);
}

.section-dark-content-wrapper {
  flex-direction: row-reverse;
}

.section-dark-text-top {
  color: var(--opacity-white);
}

.section-dark-title {
  color: var(--white);
}

.section-dark-desc {
  color: var(--white);
}

.section-dark-subtitle {
  color: var(--brown);

  background-color: var(--white);
}

.section-dark-text {
  color: var(--white);
}

/* Footer */
.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 190px;
  padding: 0 55px;

  color: var(--white);

  background-color: var(--primary-dark);
}

.inner-form-wrapper {
  width: 50%;
  padding-left: 15px;
}

.footer-text {
  color: var(--white);
  font-weight: 400;
  font-size: 34px;
  font-family: Neucha, Arial, sans-serif;
  line-height: 41px;
}

.footer-form {
  display: flex;
  width: 100%;
}

.form-label {
  margin-bottom: 9px;

  font-size: 18px;
  line-height: 29px;
}

.form-input {
  flex-grow: 2;

  height: 50px;
}

.form-input::placeholder {
  padding: 17px 15px;

  color: var(--gray);

  opacity: 0.2;
}

.form-btn {
  width: 70px;
  height: 50px;
}

.form-btn::before {
  display: block;

  width: 24px;
  height: 24px;

  background-image: url("../images/send.svg");

  content: "";
}

.form-terms {
  margin-top: 0;

  font-size: 12px;
  line-height: 19px;
}

.form-link {
  color: var(--white);
  text-decoration: underline;
}

.footer-copyright-wrapper {
  display: flex;
  flex-direction: column;
  margin: 76px 0 16px;

  text-align: center;
}

.copyright-text {
  margin-bottom: 16px;
}

.copyright-link {
  color: var(--blue);
}
